{%extends 'base.html'%}

{%block content%}

	<h2 class="centrar">Registrar a un inversionista</h2>
	<br>
	<form action="." method="post" class="centrar">
		{%csrf_token%}
		{{UserForm.as_p}}
		{{PerfilForm.as_p}}
		<input type="submit" value="Crear usuario">
	</form>

	<div class="container centrar">
		<p">Nota: La contraseña se genera por default, y es la palabra generica + la primer letra de nombre + la primer letra del apellido</p>
		<p>Ejemplo</p>
		<p>Nombre: <strong>Juan Perez</strong></p>
		<p>Contraseña: <strong>genericajp</strong></p>
	</div>
{%endblock content%}